*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
}
.todomain{
    margin-top: 40px;
    background-color: white;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    box-shadow: 10px 10px 10px rgb(207, 207, 207);
    /* height: 300px; */
    border: 1px solid blue;
}
.todochild{
    display: flex;
    justify-content: space-between;
}
.todogrand{
    display: flex;
    justify-content: space-between;
}
.paragraph{
    margin-top: 20px;
}
h1, h3, h6{
    color: blue;
}
.todoinput{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;

}
.item{
    width: 100%;
    border: none;
    border: 1px solid blue;
}
.alert{
    text-align: center;
    color: red;
    margin-bottom: 20px;
}
button{
    cursor: pointer;
    all: unset;
    background-color: blue;
    color: white;
    font-size: 17px;
    padding: 0px 4px;
}
.bi-calendar-check{
    color: blue;
    height: 50px;
}
@media screen and (max-width: 992px){
    .todomain{
        width: 50%;
    }
}
@media screen and (max-width: 768px){
    .todomain{
        width: 60%;
    }
}
@media screen and (max-width: 576px){
    .todomain{
        width: 70%;
    }
}
@media screen and (max-width: 480px){
    .todomain{
        width: 80%;
    }
}
@media screen and (max-width: 375px){
    .todomain{
        width: 100%;
    }
}